
h1,
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line: underline;
}

h1 {
    text-align: center;
    background-color: yellowgreen;
}

h3{
    background-color: #3d463e;
    color:white;
    text-decoration-style:wavy;
}


.text.para {
    font-family: 'Times New Roman', Times, serif; 
    background-color: orange;
}

.ol,
.ul{
    background-color:yellowgreen;
}

.img{
    display: block;
    margin-left:auto;
    margin-right:auto;
    
    height: 400px;
    width:auto;
}

